// Import Google fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Benton Sans Regular", "Helvetica", "sans-serif";
$bold-font: "Benton Sans Bold", "Helvetica", "sans-serif";
$headers-font: "Benton Sans Bold", "Helvetica", "sans-serif";
$medium-font: "Benton Sans Medium", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


@font-face {
   font-family: 'Benton Sans Regular';
   src: font-url('BentonSansRegular.otf') format('otf')
}

@font-face {
   font-family: 'Benton Sans Bold';
   src: font-url('BentonSansBold.otf') format('otf')
}

@font-face {
   font-family: 'Benton Sans Medium';
   src: font-url('BentonSansMedium.otf') format('otf')
}

