.container-content {
  display: flex;
}

.dropzone {
  min-height: 300px;
}

.container-todos {
  padding: 60px 0 0 120px;
  h1.page-title {
    font-family: BentonSans Bold;
    font-weight: 500;
    font-size: 44px;
    margin-bottom: 50px;
  }
}

.todorow {
  overflow-x: auto;
  white-space: nowrap;

  .todocolumn {
    margin-right: 64px;
    display: inline-block;
    overflow-x: auto;
    width: 274px;
    height: 1600px;
    padding: 0 2px 0 2px;
  .card-title {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      color: #DBDBDB;
    }
  }
  .todos {
    margin-bottom: 24px;
  }
    h5 {
      // background: #FFC6C6;
      padding: 6px 18px;
      border-radius: 3px;
      font-family: Josefin Sans;
      font-weight: bold;
      font-size: 24.5px;
    }
    .todocard {
      box-shadow: 0px 4px 18px rgba(182, 182, 182, 0.21);
      border-radius: 10px;
      padding: 23px 18px 18px 23px;
      margin-bottom: 16px;
      display: flex;
      background: white;
      flex-direction: column;
      width: 266px;
      .todo-title {
        display: flex;
        justify-content: space-between;
        button {
          color: #DBDBDB;
          margin-top: -2px;
        }
      }
      p {
        font-size: 16px;
        line-height: 20px;
        color: #3F3F3F;
        width: 204px;
        overflow: hidden;
        white-space: pre-line;
      }
      h3 {
        font-family: BentonSans Bold;
        font-size: 18px;
        margin-bottom: 8px;
        width: 200px;
        overflow: hidden;
        white-space: pre-line;
      }
    }
  }
}
// .color-picker input[type="radio"] {
//   opacity: 0;
//   position: fixed;
//   width: 0;
// }

// // .collection_radio_buttons {
// //   background-color: #e2b2ff;
// // }

// .purple {
//   background-color: #e2b2ff;
// }

// // #todo_color_e2b2ff {
// //   height: 15px;
// //   width: 15px;
// //   background-color: #e2b2ff;
// // }

// .color-picker label {
//     display: inline-block;
//     padding: 10px 10px;
//     border-radius: 50%;
//     font-size: 4px;
// }

// .color-picker input[type="radio"]:checked + label {
//     background-color:#bfb;
//     border-color: #4c4;
// }

