<h1>Topics</h1>

<ul>
  <% if current_user.topics.blank? %>
    add a topic
  <% else %>
  <% current_user.topics.each do |topic| %>
    <li><%= link_to topic.title, topic_path(topic) %></li>
  <% end %>
  <% end %>
</ul>

<%= simple_form_for @topic, remote: true do |f| %>
  <%= f.input :title %>
  <%= f.button :submit %>
<% end %>
