<nav>
  <%= link_to root_path do %>
    <%= image_tag("small-logo.svg", class: "small-logo") %>
  <% end %>
<!--   <ul class="my-projects">
    <li id="menu"> My Projects
      <i class="fas fa-angle-down"></i>
        <ul id="dropdown">
            <li><%#= link_to "All Projects", topics_path, id: 'nav-link' %></li>
            <#% current_user.topics.each do |topic| %>
              <li><%#= link_to topic.title, topic_path(topic), id: 'nav-link' %></li>
          <#% end %>
        </ul>
    </li>
  </ul> -->
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      My Projects
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to "All Projects", topics_path, class:'dropdown-item' %>
      <% if current_user %>
      <% current_user.topics.each do |topic| %>
          <a><%= link_to topic.title.capitalize, topic_path(topic), class: 'dropdown-item' %></a>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
