<%= form_with model: todo, class: 'divTableRow', id: dom_id(todo, 'inline_form') do |form| %>
 <div class="divTableCell">
    <%= form.text_field :title %>
  </div>

  <div class="divTableCell">
    <%= form.text_field :description %>
  </div>

  <div class="divTableCell">
    <%= form.submit %>
  </div>
<% end %>
