<%= content_tag :li, data: { target: 'draggable.todo',
                              id: todo.id,
                              url: topic_column_todo_path(@topic, column, todo) } do %>
  <div class="todocard">
   <div class="todo-title">
      <h3> <%= todo.title %> </h3>
      <%= button_to [@topic, column, todo], method: :delete do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>
    <p> <%= todo.description %> </p>
  </div>
<% end %>

<%#= link_to 'delete', [topic, column, todo], method: :delete %>
