<%= content_tag :li, data: { target: 'draggable.todo',
                              id: todo.id,
                              url: topic_column_todo_path(@topic, column, todo) } do %>
  <div class="todocard">
   <h3> <%= todo.title %> </h3>
   <p> <%= todo.description %> </p>
  </div>
<% end %>

<%#= link_to 'delete', [topic, column, todo], method: :delete %>
