#topic_color {
  height: 42px;
  margin-top: .3rem;
  margin-right: 1.2rem;
}

#new_topic {
  display: flex;
  align-items: center;
}

.modal-content {
  border-radius: 24px;
  border: none;
}

.modal-body {
  padding: .8rem;
}

.form-control {
  border-radius: 0.5rem;
  padding-top: 0;
  padding: 0rem 0.75rem;
}

.form-group {
  margin-right: 1.2rem;
  margin-bottom: 1.7rem;
}

label.string {
  font-weight: bold;
  font-size: 19px;
}

.modal-title {
  line-height: 1;
  font-size: 27px;
  font-weight: bold;
}

.modal-header {
  padding: 1.8rem 1rem 0 .7rem;
  border-bottom: none;
  i {
    font-size: 18px;
  }
  a {
    color: $black;
  }
}

abbr {
  display: none;
}

.modal-btn {
  background: #988BFF;
  font-weight: 500;
  font-size: 22px;
  color: white;
  border-radius: 8px;
  padding: 8px 24px;
}

.modal-btn:hover {
  color: white;
  text-decoration: none;
}

.submit-btn {
  display: none;
}
.new_todo {
  background: #F7F5F5;
  border-radius: 10px;
  height: 86px;
  .form-control {
    border: none;
    background: #F7F5F5;
    padding: 0;
    padding-left: 24px;
    color: rgba(130, 129, 129, 0.82);
    font-family: BentonSans Medium;
  }
  .form-control::-webkit-input-placeholder {
    color: rgba(130, 129, 129, 0.82);
  }
  #todo_title {
    padding-top: 18px;
    padding-bottom: 8px;
  }
  #todo_description {
    font-size: 16px;
    margin-top: -24px;
    font-family: BentonSans Regular;
  }
}

#title-todo input {
  font-size: 17px;
  width: 100%;
  border: solid rgba(182, 209, 235, 0.75) .8px;
  border-radius: 3px;
  font-weight: bold;
  padding: 4px 0 4px 0px;
}

#description-todo input {
  padding: 4px;
  width: 100%;
  border: solid rgba(182, 209, 235, 0.75) .8px;
  border-radius: 3px;
  height: 30px;
  margin-top: 6px;
}

.update-todo {
  margin-top: 6px;
}
