nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 22px rgba(95, 95, 95, 0.07);
  height: 88px;
  padding: 0 66px;
  a, i, li {
    color: rgba(234, 105, 105, 0.87);
    font-family: BentonSans Medium;
    cursor: pointer;
  }
}

nav a:hover {
  color: rgba(234, 105, 105, 0.87);
}

#dropdown {
  display: none;
  position: absolute;
  width: 130%;
  background-color: white;
  z-index: 1;
  text-align: center;
  left: 0;
  top: 100%;
  padding-top: 10px;
  border-radius: 3px;
  li {
    padding: 10px 15px;
    font-family: BentonSans Regular;
  }
}

#dropdown.active {
  display: block;
}

#menu {
  position: relative;
}
