.topics {
  display: grid;
  margin: 10vh auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 32px;
  max-width: 1150px;
}

.topic {
  font-weight: bold;
  color: $black;
  padding: 78px;
  font-size: 28px;
  text-align: center;
  border-radius: 16px;
  opacity: .85;
  transition: all .3s;
}

p.topic {
  // opacity: 1;
}

.topic:hover {
  opacity: .7;
}

p.topic:hover {
  text-decoration: none;
  color: $black;
}

.topic-button {
  background: #CBCBCB;
  color: white;
  border: none;
}
